__pycache__/
data/
EXPERIMENTS/
#*.csv
#**/*.csv
*.zip
#**/*.txt
outputs/
models/
**/*.yaml
*.yaml
**/*.jpg
*.zip
**/*.zip/
*.jpg
**/*.pdf
*.pdf
**/*.zip
**/*.json
*.json
**/*.so
*.so
**/*.cu
*.cu
**/*.jsonl
*.jsonl
*.zip
#*.txt
**/*.pth.tar
*.pth.tar
**/*.tiff
*.tiff
**/*.pt
*.pt
#**/*.csv
#*.csv
**/*.pkl
*.pkl
**/*.pth
*.pth
**/*.err
*.err
**/*.out
data
*.ipynb_checkpoints
**/*.ipynb_checkpoints
/EXPERIMENTS
#figures/
*.out
**/*.pyc
*.pyc
**/*.tif
*.tif
**/*.pickle
*.pickle
*.mdb
**/*.mdb
#**/*.png
#*.png
**/*.pdf
*.pdf
**/*.tfrecords
*.tfrecord
#**/.csv
#*.csv
qve.egg-info
